[2014-01-25 02:01] dmitshur opened #1 "Frontend HTML+CSS generation (from simple structured data)."
I will have a list of Go packages with updates available. Basically, the following information (originally in Go structs, e.g. [here](https://github.com/shurcooL/Go-Package-Store/blob/1083ab8c493307f027100368958ff949e8d0661e/examples/ExampleGenerateGithubHtml.go#L33-L749), but converting it into JSON, if necessary, is trivial):

[code]

I'm looking for ways to convert that (either on the backend u

[2014-02-02 07:03] #1 closed, assigned to nobody

[2014-07-10 01:34] dleung opened #4 "Panic when clicking on update on web ui for a package"
[code]

[2014-07-10 02:25] dmitshur opened #5 "Errors after/during updating a large package."
The first error, translated into a string, was:

[code]

The second error is slightly different, despite being related to the same package,

[code]

Followed by,

[code]

[2014-07-10 02:46] shurcooL opened #6 "Feature Request: "Update All" button."

[2014-07-10 06:12] #4 closed, assigned to nobody

[2014-07-12 02:54] dmitshur opened #7 "Some operations may block on getting user credentials."
The problem is upstream in go/vcs, but I'll put this here (thanks for the report @rtecco) since it affects Go-Package-Store primarily.

[code]

What happened is go/vcs shells out to `git` to perform some operations like get remote branch revision (i.e., `git ls-remote --heads origin master`), which may block on getting user input for authentication (if git is not configured to use credentials auto

[2014-07-13 01:20] #7 closed, assigned to nobody

[2014-07-13 07:09] dmitshur opened #8 "Possible enhancements."
- [ ] Have a way to see the list of all packages that (directly or indirectly) depend on the shown repo.
  - Should use [`cmd/goimporters`](https://github.com/shurcooL/cmd/commit/7eccc1ea0ec320b6edc36af71c16705a5fcb77b3#commitcomment-7954923) to achieve this.
- [ ] Have a way to (safely) remove the shown repo (move it to trash only if there are no local changes).
  - Should use [`gopathutil.Remove

[2014-07-31 16:55] dmitshur opened #10 "Use repo owner for avatar image, rather than author of some commit."

[2014-07-31 18:17] #10 closed, assigned to nobody

[2014-09-05 04:44] #5 closed, assigned to nobody

[2014-09-07 20:53] dmitshur opened #12 "Add presenter for changelist of "code.google.com/p/..." Go packages."
See [presenter.go#L66](https://github.com/shurcooL/Go-Package-Store/blob/92477187817babf4b6916ac12406517e00f3ae04/presenter/presenter.go#L66).

It would need to implement the [`Presenter` interface](http://godoc.org/github.com/shurcooL/Go-Package-Store/presenter#Presenter):

[code]

But I'm not sure if code.google.com has an API the way [GitHub does](https://developer.github.com/v3/)...

[2014-09-07 21:16] cnbuff410 opened #13 "Does it work for code.google.com?"
A bunch of my libraries from it shows "unknown changes"

[2014-09-07 21:32] #13 closed, assigned to nobody

[2014-09-08 01:12] dinedal opened #14 "Panic when running"
https://gist.github.com/dinedal/bf6e264345434356f414

Looks related to `gopkg.in/v0/qml` ?

[2014-09-08 01:33] #14 closed, assigned to nobody

[2014-09-08 08:49] ernestoalejo opened #15 "Feature request: Listen in 0.0.0.0"
So this app can be used easily in vagrant. Also printing the URL by console to open it manually.

If for security reasons we shouldn't use 0.0.0.0, at least a flag to configure the host and the port would be awesome.

[2014-09-10 12:24] johntdyer opened #16 "How to start?"
How do I actualy start this?

[2014-09-10 21:03] sqs opened #17 "Enable Sourcegraph"
I want to use [Sourcegraph code search and code review](https://sourcegraph.com) with Go-Package-Store. A project maintainer needs to enable it to set up a webhook so the code is up-to-date there.

Could you please enable Go-Package-Store on @Sourcegraph by going to https://sourcegraph.com/github.com/shurcooL/Go-Package-Store and clicking on Settings? (It should only take 15 seconds.)

Thank you!

[2014-09-10 21:27] #17 closed, assigned to nobody

[2014-09-11 04:01] #16 closed, assigned to nobody

[2014-09-20 03:17] #15 closed, assigned to nobody

[2014-09-25 07:17] #12 closed, assigned to nobody

[2014-10-01 08:04] dominikschulz opened #20 "Build failing"
Hi,

rev 38743eea81e092cd5c9a82770e3a8153c0e8f98e fails to build:

[code]

[2014-10-19 18:14] #20 closed, assigned to nobody

[2014-11-05 00:54] sqs opened #23 "vcsstore changes"
We're going to make some changes to vcsstore, which Go-Package-Store uses to fetch info about some Google Code repos.

We're going to make it accessible via sourcegraph.com/api instead of vcsstore.sourcegraph.com. I'll post back here once that's done and try to put together a PR for G-P-S to use the new endpoint.

Will G-P-S gracefully handle vcsstore downtime in the meantime?

[2014-11-17 02:56] emidoots opened #24 "Feature request: present websites using azul3d.org/semver.v1 nicely"
**Background**

The semver package (see [GoDoc here](https://godoc.org/azul3d.org/semver.v1)) allows people to add support for semantic versioning of Go packages (basically what `gopkg.in` does) to custom domains (`foobar.org/foopkg.v3`).

Primarily it does mingling with the `go-import` meta tag and proxies git requests through the custom domain itself, so the meta tag doesn't contain a known code

[2014-11-20 05:16] #24 closed, assigned to nobody

[2014-11-27 10:15] arvenil opened #26 "Error while "go get -u github.com/shurcooL/Go-Package-Store""
Hi,

I just wanted to try out "Go-Package-Store" but it looks like it doesn't compile:

[code]

Any idea?

[2014-12-04 16:49] sethwklein opened #27 "Missing "package""
[code]

On a stylistic note, "gist7519227" is a rather meaningless name for a package, and that huge list of external gist "packages" creates exactly the brittleness seen here.

[2014-12-07 00:35] #27 closed, assigned to nobody

[2014-12-18 08:52] #23 closed, assigned to nobody

[2014-12-25 18:59] Dieterbe opened #28 "doesn't install"
[code]

[2014-12-25 22:07] #28 closed, assigned to nobody

[2015-01-11 23:49] shurcooL opened #29 "If a commit has known comments, display their count and link to them."
Original inspiration is over at https://github.com/shurcooL/Go-Package-Store/commit/f93175e41607f67ba2ded91095bb26fd98ab285e#commitcomment-9233851.

The idea is to add a little unobtrusive comments counter with a link that takes you to comments. Primarily implementation is for GitHub, but in theory it's a general change that other presenters can support too.

![image](https://cloud.githubuserconte

[2015-01-12 00:50] shurcooL commented on #29
By the way, thanks to @slimsag and @rebyn for inspiring this feature. :D

[2015-01-12 09:29] rebyn commented on #29
Side note: I'm browsing the web interface from quite a big screen, which makes reading commit messages on the left then navigating to its link on the right a bit tough. How do you think about layouting commit link next to the message? Something like:

[SHA](Clickable) - Commit Message

[2015-01-13 04:02] shurcooL commented on #29
I think a better solution would be to cap the max-width of the content to something reasonably sane. Right now there is no cap, which I can imagine would make the changes and commit links unreadable and inconvenient.

I don't think putting the commit links on the right side is a good idea, because that information is secondary to the main content: the change message. I want to have more important

[2015-01-13 04:02] shurcooL opened #31 "Cap max-width of content to something reasonable."
Source is https://github.com/shurcooL/Go-Package-Store/issues/29#issuecomment-69692474.

[2015-01-13 10:17] rebyn commented on #29
UX wise, how about making commit message clickable (link it to GH link)?

[2015-01-13 10:36] shurcooL commented on #29
That might work, I'll give it a try.

[2015-01-20 08:04] suhyunjeon commented on #26
Hello, I have a question.

I want to running "Go-Package-Store" but it looks like it doesn't work.

1. $ go get -u github.com/shurcooL/Go-Package-Store
2. $ go build
3. $ ./Go-Package-Store
4. opens a browser window automatically : http://localhost:7043/index.html
5. not found page (a browser)

How do I do? Please help me.

[2015-01-20 08:40] shurcooL commented on #26
Hi @suhyunjeon,

It looks like you're doing the right thing, so it should work.

When you run `Go-Package-Store`, is there any output?

I get:

[code]

Do you see that?

[2015-01-20 08:50] suhyunjeon commented on #26
Thank you for your reply.

I don't know exactly what it is.
So I removed the folder and create new gopath. And follow the command.
https://travis-ci.org/shurcooL/Go-Package-Store
[code]

[2015-01-20 08:53] shurcooL commented on #26
Very interesting. Can you open a new issue please? What's the output of `go version`?

One thing about above, when you do `go get -u github.com/shurcooL/Go-Package-Store`, that installs the `Go-Package-Store` binary into `$GOPATH/bin`, but in step 7 you run `./Go-Package-Store`. Are you sure that's the right binary? Maybe you should be running `$GOPATH/bin/Go-Package-Store`?

[2015-01-20 08:55] shurcooL commented on #26
Ok, I have an idea what might be wrong. I'll need your output from `go version`. It might be that on your platform, when I run the command to open a browser window, it doesn't keep running the rest of the code. I can fix that, I just need to know more info about when it happens.

[2015-01-20 08:56] suhyunjeon commented on #26
[code]

It does not work. Same the work. T.T

[2015-01-20 09:35] shurcooL commented on #26
What version of Ubuntu are you running? Can you please also tell me the output of `xdg-open --version`?

[2015-01-20 09:45] suhyunjeon commented on #26
Thank you for your reply.

Can I check it tomorrow?
I am sorry I've left my office.

thank you.

2015년 1월 20일 화요일, Dmitri Shuralyov<notifications@github.com
<javascript:_e(%7B%7D,'cvml','notifications@github.com');>>님이 작성한 메시지:

[2015-01-20 09:46] shurcooL commented on #26
Sure thing, no problem. We'll get this figured out so it will work. :) Thanks for your patience.

[2015-01-20 23:57] suhyunjeon commented on #26
Hello @shurcooL. Version is 1.0.2 like that.

[code]

[2015-01-21 00:17] cryptix commented on #26
May I suggest an vector to look into? I started seeing the same thing when one of my boxes got upgraded.

What started happening was that the browser tried to open the url before the listening socket was open. I checked with `lsof` to see if go-Package-Store was listening and it sure was. Entering the url again loads the page and changes begin to appear.

I never thought much of it until now.. @sh

[2015-01-21 03:04] shurcooL commented on #26
@cryptix, you bring up a good point. There is definitely a race condition in the logic right now; it tries to open the browser and navigate to the URL first, and start the http server after. In practice it has always been okay for me because starting the http server is usually faster than starting a browser, but it's better not to have a race condition.

That said, it seems that @suhyunjeon's prob

[2015-01-21 04:40] suhyunjeon commented on #26
I figure out the problem.

It was very interesting.

As you guys know, when I run 'Go-Package-Store', they only open a browser and only print  like this.
[code]

And!! I close the browser and after open a new browser (http://localhost:7043/index.html)
I can show the log
[code]

BUT they did not work. I got fatal error like this
[code]

OMG.

[2015-01-21 05:04] shurcooL commented on #26
Yes, that confirms what I suspected, that `Open` does not return for you until the browser (the process that was started)` exists. My upcoming fix will fix that.

Hmm, I think it may be an unrelated issue. I have seen something like that one time out of 100+ runs, so there may still be some edge cases that I need to handle more carefully. But I'll fix it one step at a time.

@suhyunjeon, just so I

[2015-01-21 05:26] shurcooL commented on #26
@suhyunjeon, I've just pushed a15fc561fd6d4e10f65506b3842dba7799fa4b70 which should fix your issue with starting correctly.

Can you try updating via `go get -u github.com/shurcooL/Go-Package-Store` and try again?

[2015-01-21 07:23] suhyunjeon commented on #26
I tried to update source code. BUT it also did not work. Connected url to 'http://localhost:7043/index.html'. I can see the UI(Checking for updates...)
Disconnected go package store server.

1. $ go get -u github.com/shurcooL/Go-Package-Store
2. $ go build
3. $ ./Go-Package-Store
4. opens a browser window automatically : http://localhost:7043/index.html
5. disconnected go package store server.

I

[2015-01-23 04:57] #29 closed

[2015-01-23 05:23] #31 closed

[2015-01-23 05:25] shurcooL commented on #26
That is unfortunate; it should work. :( I'm running out of ideas for what you can try. But you still haven't told me what OS and browser you're using.

I can suggest trying to update to latest official stable version of Go, which is currently 1.4.1, and is available at http://golang.org/doc/install. Then update again using `go get -u github.com/shurcooL/Go-Package-Store` and run `$GOPATH/bin/Go-Pa

[2015-01-28 04:54] shurcooL opened #33 "Detect and display when new major versions of semver'ed import paths are available."
For example, if I have `foo/bar.v4` in my GOPATH, and `foo/bar.v5` becomes available, perhaps Go Package Store is an excellent opportunity to let me know about that?

[2015-02-08 05:48] shurcooL commented on #26
@suhyunjeon, have you had better luck after updating Go?

[2015-02-09 01:40] suhyunjeon commented on #26
Hello Dmitri!

I upgrade go version to go1.4.1.linux-amd64.tar.gz
<https://storage.googleapis.com/golang/go1.4.1.linux-amd64.tar.gz> (
https://golang.org/dl/)

1. *go get -u github.com/shurcooL/Go-Package-Store
<http://github.com/shurcooL/Go-Package-Store>*

2. set *$GOPATH/bin* from *~/.profile* in ubuntu

3. run *$GOPATH/bin/Go-Package-Store*
@ubuntu-shjeon:~/gocode/bin$ ./Go-Package-Store
Using

[2015-02-09 02:04] shurcooL commented on #26
That sounds like an improvement, it's not crashing anymore.

Seeing "No Updates Available" is normal behavior, and it means one of two things:

1. It's possible you already have all latest versions; there are indeed no updates available. Try running Go Package Store at a later time, perhaps something will come up by then.

   I see that you only have 179 packages in your GOPATH. That's not a lot,

[2015-02-09 02:43] suhyunjeon commented on #26
Thank you for your reply.

I got it. I downloaded some go source from github.(go get "blah blah blah")
And then run *'./bin/Go-Package-Store'*. It did not work like this. I will
check the source code.

------------------------------------------------------------------------------------------------------------------------------------
ubuntu-shjeon:~/gocode$* ./bin/Go-Package-Store *
Using all Go pa

[2015-03-01 15:39] Netherdrake opened #34 "Go-Package-Store should know how to update itself"
It should run `go build` && `go install` on itself.

[2015-03-01 20:24] shurcooL commented on #34
A general solution would be to get rid of the `-d` flag when executing `go get -u -d some/package/...`.

But I'm worried that might install too many unwanted binaries into `$GOPATH/bin`. Thoughts?

[2015-03-01 20:26] shurcooL commented on #34
By the way, until this issue is closed, updating Go Package Store manually is as easy as `go get -u github.com/shurcooL/Go-Package-Store`.

[2015-03-14 01:00] shurcooL commented on #26
@suhyunjeon, is there anything else I can do to help?

If not, do you mind if I close this issue?

[2015-03-14 19:11] adityashedge opened #35 "go get throws an error for 'https://azul3d.org/semver.v2/'"
Getting this on my 'Ubuntu 14.04.2 LTS'

$go get -u github.com/shurcooL/Go-Package-Store

Cloning into '~/golang/packages/src/azul3d.org/semver.v2'...
fatal: unable to access 'https://azul3d.org/semver.v2/': Failed to connect to azul3d.org port 443: Network is unreachable
package github.com/shurcooL/Go-Package-Store
	imports azul3d.org/semver.v2: exit status 128

Some help here please. Thank you i

[2015-03-14 19:36] slimsag commented on #35
Sorry to hear you're having trouble. Answers to these questions might help us identify the problem:

- Have you tried again after a few hours? (Perhaps a critical network path to the Seattle-based server went down temporarily, etc).
- Is the machine behind a firewall or proxy of some sort, and if so can you try with it disabled?
- Can you `curl` azul3d.org on that machine or another machine on the

[2015-03-14 19:52] adityashedge commented on #35
@slimsag ping works perfectly fine but everything else you suggested fails with same error message
"fatal: unable to access 'https://azul3d.org/semver.v2/': Failed to connect to azul3d.org port 443: Network is unreachable"

I have been trying for the past 2 hours and no luck yet. No firewall or proxy enabled.

[2015-03-14 19:58] slimsag commented on #35
What's your public IP address? Looking at the server's logs I wonder if these are related:

[code]

I'm not sure what's going on here. :/

[2015-03-14 20:07] adityashedge commented on #35
that's not my IP but I can access the site and ping to it just fine.

[2015-03-14 20:47] shurcooL commented on #35
Thanks for looking into this @slimsag.

Unfortunately, I cannot reproduce the issue either (just tried on a fresh Ubuntu 14.04 VM). It seems related to your configuration and the `https` protocol in some way.

[2015-03-14 20:48] shurcooL commented on #35
Two more questions for you @adityashedge, can you please post what these two commands print on your machine:

[code]

[code]

That may be helpful.

[2015-03-16 06:23] adityashedge commented on #35
@shurcooL
go version go1.4.2 linux/amd64
git version 1.9.1

Also I tried with a different network and I am getting a different error now.
fatal: unable to access 'https://azul3d.org/semver.v2/': gnutls_handshake() failed: A TLS packet with unexpected length was received.

[2015-03-17 02:11] slimsag commented on #35
@adityashedge I have a theory that it was a bug fixed after Go v1.3.1 (which the azul3d.org server was running). azul3d.org is now running Go v1.4.2 -- please try again.

If the issue is not resolved after that, I'll try disabling cloudflare on the site (which uses some newer HTTPS features that older gnutls version might be having trouble with).

[2015-03-18 09:37] adityashedge commented on #35
@slimsag sry no luck still getting the same error in both scenarios.

[2015-04-11 09:00] suhyunjeon commented on #26
Hello, I am sorry to late for reply.

It did work exactly. Close my issue.
Thank you.

Have a nice day!

2015년 3월 14일 토요일, Dmitri Shuralyov<notifications@github.com>님이 작성한 메시지:

[2015-04-11 16:05] shurcooL commented on #26
I'm glad to hear it works now! Thanks for letting me know.

If you run into anything else, feel free to open a new issue.

[2015-04-11 16:05] #26 closed

[2015-04-20 17:30] amargherio opened #36 "Package entries nest inside of each other"
When opening the tool inside a browser (in my case, Chrome v44.0.2369.0 dev, although it shouldn't make too much of a difference if you use another browser), the box for each package seems to nest inside the change list of the one above it.

![Nesting packages](http://i.imgur.com/XTxujf8.png)

Watching the console output, I keep seeing the following block (repeats for each package it queries for)

[2015-04-20 17:47] amargherio commented on #36
Hmm...it looks like it's not doing it anymore. I just updated to the most recent version, not sure what changed, but everything seems to be displaying correctly now.

Sorry for the erroneous issue, and thanks for building a great tool.

[2015-04-20 17:47] #36 closed

[2015-04-20 17:56] shurcooL commented on #36
No problem! Glad it works now.

This likely happened because Go Package Store was out of date. Perhaps a version mismatch of the `Go-Package-Store` binary and assets folder. Updating to latest version should fix it, and as you noticed it has. If you run into any other issues, please feel welcome to let me know!

[2015-04-22 01:50] sescobb27 opened #37 "go get -u throws errors on codegoogle.go"
[code]
go version go1.4.2 linux/amd64

[2015-04-22 02:25] shurcooL commented on #37
Hi @sescobb27,

Thanks for reporting this issue. I need to update the code because upstream API has changed slightly.

I will have a fix shortly, and it should work okay after that.

[2015-04-22 02:43] #37 closed

[2015-04-22 02:43] shurcooL commented on #37
@sescobb27, this should be fixed now.

Can you please try `go get -u github.com/shurcooL/Go-Package-Store` again and let me know if everything's okay? Thanks again for reporting the issue!

[2015-04-22 03:15] sescobb27 commented on #37
:smiley: that was fast thank you so much, is working now

[2015-05-18 12:21] shurcooL commented on #35
Is this still an issue? I haven't been able to reproduce it in any scenario.

[2015-05-18 12:26] adityashedge commented on #35
@shurcooL This is fixed. No idea how but it worked.

[2015-05-18 12:26] #35 closed

[2015-05-18 13:02] shurcooL commented on #35
Glad to hear!

[2015-06-01 05:32] shurcooL opened #39 "Updating Go packages in large repos may get many more packages."
Currently, Go Package Store executes `go get -u host.com/user/repo/...` when updating Go packages, the formula being `{{RepoRoot}}/...`.

This is simple, valid and correct. It would be incorrect to update only `host.com/user/repo` because that may not be a Go package at all, or the user may be using `host.com/user/repo/sub/package` which in a new version now imports an updated new external depende

[2015-06-15 08:31] #39 closed

[2015-06-22 03:07] cnbuff410 commented on #6
+1

[2015-07-06 13:57] gedw99 opened #42 "tree"
This is really useful thanks

[2015-07-06 14:36] shurcooL commented on #42
Thanks, glad you like it.

Are you having any issues with it, or just making a comment?

[2015-07-10 12:54] Brasilikum commented on #33
Yea, you mean something like a big red label?

[2015-07-12 06:45] shurcooL commented on #33
Yes, something like that, but it doesn't necessarily have to be red.

[2015-07-24 20:46] wienczny opened #43 "Add button to update all packages"
Add button to update all packages

[2015-07-24 21:13] shurcooL commented on #43
I'll close this because it's a duplicate of #6, but feel free to leave a +1 in that issue.

[2015-07-24 21:13] #43 closed

[2015-07-25 00:09] wienczny commented on #6
+1

[2015-08-04 04:52] NHOrus commented on #6
+1

[2015-09-21 18:26] shurcooL opened #44 "Development `go generate` code needs to be updated."
This won't affect users because it's hidden behind an ignored build tag, but it needs to be fixed for development package.

The [`assets_gen.go`](https://github.com/shurcooL/Go-Package-Store/blob/master/assets_gen.go) file uses the old `vfsgen` API that needs to be updated to current version. This is very easy to do.

[2015-09-21 18:49] #44 closed

[2015-09-21 19:53] GeneticGenesis opened #45 "Support install from git (ssh) protocol"
Great tool!

I, like many others have my git configured such that `go get github.com/someone/somepackage` will fetch using the git (ssh) protocol. This is achieved by the following configuration in ~/.gitconfig

    [url "git@github.com:"]
        insteadOf = https://github.com/

Installing Go-Package-Store using this mechanic fails with the following output:

[code]

It'd be nice to support this

[2015-09-21 20:02] slimsag commented on #45
I think this is an issue with Go itself not with G-P-S. Can you run `go get -u github.com/shurcooL/go/vfs/httpfs/vfsutil` without the same error message, for example?

[2015-09-21 20:09] GeneticGenesis commented on #45
Yep. that works just fine, and the remote for that project ends up being a git remote:

[code]

[2015-09-21 20:20] shurcooL commented on #45
Is doing this still supported in Go 1.5? I thought it wasn't, and you had to use `-f` flag with `go get`:

https://golang.org/cmd/go/#hdr-Download_and_install_packages_and_dependencies

That could be wrong. Thanks for reporting this issue, I will take a closer look later today and see if it's possible to resolve it.

[2015-09-22 02:56] IndianGuru opened #46 "Error while installing on Windows 7"
G:\go_projects\go>go get -u github.com/shurcooL/Go-Package-Store
# cd .; git clone https://azul3d.org/semver.v2 G:\go_projects\go\src\azul3d.org\
semver.v2
Cloning into 'G:\go_projects\go\src\azul3d.org\semver.v2'...
fatal: unable to access 'https://azul3d.org/semver.v2/': error:14077410:SSL rout
ines:SSL23_GET_SERVER_HELLO:sslv3 alert handshake failure
package azul3d.org/semver.v2: exit status 12

[2015-09-22 06:30] shurcooL commented on #46
Hi there,

Thanks for reporting the issue. It's a known issue in a dependency which will be resolved upstream soon. See https://github.com/azul3d/semver/issues/15 for context.

I will temporarily disable the azul3d presenter until it is resolved upstream. That will allow you to use Go Package Store today.

[2015-09-22 06:43] #46 closed

[2015-09-22 06:45] shurcooL commented on #46
@IndianGuru, please try `go get -u github.com/shurcooL/Go-Package-Store` again and let me know if the issue is resolved for you.

[2015-09-22 10:26] gonzaloserrano commented on #8
What about displaying just the packages that are imported in the current directory or something like that?

Nice project btw.

[2015-09-24 17:48] uwe commented on #8
I would like to see a "Delete" button.

[2015-09-24 22:07] abourget opened #47 "Git subtree and vendor experiments support."
What would be awesome is to support the vendor/ folder in the same way.

I use git subtree to handle the things in vendor/.. would be awesome to be able to fetch, compare and see if anything needs to be updated using "git subtree" methods.

[2015-09-25 07:41] shurcooL commented on #8
I think an ability to delete Go package repos (safely) would be nice, but it'd be great if it were done on a separate tab, where you can just list all packages (instead of updates).

[2015-09-25 07:43] shurcooL commented on #47
Hi, thanks for the suggestions.

GOVENDOREXPERIMENT support makes sense, but I'm not in a rush to implement it before 1.6. I don't quite like how it's implemented so far, and I'm not using myself because of that.

About git subtrees, that sounds quite custom. I'm not sure how GPS could support that in a very general way. Can you think of a good way?

[2015-09-25 08:03] uwe commented on #8
+1

[2015-09-27 02:19] #42 closed

[2015-09-27 17:53] gedw99 commented on #42
Just wanted to say thanks. It works great

[2015-10-03 20:16] jaredharley opened #48 "Remove unnecessary analytics"
`main.go`, lines 39-51: Remove unnecessary Google Analytics tracking.

[2015-10-04 00:34] shurcooL commented on #48
Why do you think they're unnecessary? I use them to have an idea of how many people are using the app, and that allows me to know how much of my time/resources I should put into making it better, etc.

See https://github.com/shurcooL/Go-Package-Store/commit/e294f927573ab24be168ea7733997bae61900dc9 for original rationale to add it.

[2015-10-17 03:42] shurcooL commented on #48
Closing because it's not an issue as far as I can tell. Please re-open otherwise.

[2015-10-17 03:42] #48 closed

[2015-11-30 06:41] captncraig opened #49 "Support govendor file format."
I am using https://github.com/kardianos/govendor for my vendoring needs. It would be nice if Go-Package-Store could load my vendor file and check for updates. It should be almost identical to godeps mode, but with a slightly different json schema.

[2015-11-30 09:20] shurcooL commented on #49
I think I can support that.

I'll have to familiarize myself with the https://github.com/kardianos/vendor-spec file format.

Is there a parser for that file format that I should use? Or is it so trivial that I should just implement it as unexpected code? /cc @kardianos

[2015-11-30 15:19] captncraig commented on #49
I'm thinking it should just be a matter of unmarshalling to a slightly different json object from what you are using for godeps. It is just json.

[2015-12-02 17:17] kardianos commented on #49
There is a helper package here:
https://godoc.org/github.com/kardianos/govendor/vendorfile

Mainly useful if you are writing as well as reading as it will preserve unknown fields when writing (as the spec requires).

[2015-12-07 02:12] shurcooL commented on #49
@captncraig, can you point me to a sample project that has a govendor file, so I can test out this feature?

[2015-12-07 04:37] kardianos commented on #49
bitbucket.org/kardianos/rdb

[2015-12-07 05:20] shurcooL commented on #34
I could special-case the Go Package Store import path, and do something differently for it. But I feel that isn't as great as a more general solution.

Perhaps `binstale` can be used for a more general solution. Its functionality can be used to determine which Go binaries you have installed, and whether something package you're installing contains binaries that would need to be updated.

Or maybe

[2015-12-07 05:53] shurcooL commented on #49
Thanks @kardianos.

I tried the following:

[code]

I see its vendor.json has:

[code]

But that commit doesn't exist in the current golang.org/x/net/context history:

https://github.com/golang/net/commit/aa73292ff82e

It does exist in the previous mercurial repo:

https://code.google.com/p/go/source/browse/?repo=net&r=aa73292ff82e

Go Package Store cannot compare version across different reposito

[2015-12-07 05:55] kardianos commented on #49
Whoops! Oh, I think I had a bug in the tool when I added that. Will fix.

On Sun, Dec 6, 2015, 21:53 Dmitri Shuralyov <notifications@github.com>
wrote:

[2015-12-07 16:22] kardianos commented on #49
I fixed the rdb repo. Should be able to test properly this time.

[2015-12-08 00:30] shurcooL commented on #49
It works as expected. Your `golang.org/x/net/context` dependency is now up to date, and hence doesn't show up.

The other repo has a few new commits, and they show up.

![image](https://cloud.githubusercontent.com/assets/1924134/11644313/b4de7302-9cff-11e5-93a4-8672595457ae.png)

I'll be merging the PR soon. @captncraig, please try it out and let me know if it resolves your needs.

[2015-12-08 00:42] #49 closed

[2015-12-08 00:43] shurcooL commented on #49
It's live now.

Do `go get -u github.com/shurcooL/Go-Package-Store` as always to update to latest version, and let me know @captncraig!

[2015-12-08 23:09] captncraig opened #51 "Allow updating of govendor/godep packages"
Currently if I run `go-package-store -govendor vendor/vendor.json` I get a list of package updates. The update button is greyed out and has no effect. It would be awesome if it could update the packages. There are varying degrees of how this could be done:

1. "Update to gopath" only, could update the gopath version of the package or clone it if it doesn't exist.
2. After that, it could do `govend

[2015-12-08 23:54] shurcooL commented on #51
I've discussed this feature request with @captncraig, it sounds very reasonable to me.

I've already mentioned that this would be a future enhancement in commit d86275543c7ca18d75b1014a9d474568eae23134.

I envision an interface like:

[code]

With concrete implementations for GOPATH workspace (the current code), and another for updating govendor dependencies.

[2015-12-09 00:53] shurcooL commented on #51
The code that needs to change to support the interface above is quite messy; so I'll do that myself. But if someone wants to implement that interface for govendor afterwards (and maybe for godep), that should be much more viable.

[2015-12-09 03:40] shurcooL commented on #51
Ok, I've done that refactor and created the aforementioned [`repo.Updater`](https://godoc.org/github.com/shurcooL/Go-Package-Store/repo#Updater) interface, which should allow creating a new `repo.Updater` implementation much more doable.

[2015-12-09 03:50] captncraig commented on #51
awesome, I'll play with it tonight

On Tue, Dec 8, 2015 at 8:40 PM, Dmitri Shuralyov <notifications@github.com>
wrote:

[2015-12-30 01:43] shurcooL commented on #51
The `repo.Updater` interface is simplified significantly in #53, which is a major refactor that gets rid of all legacy gist packages.

I'd suggest working on this issue on top of #53 or waiting after it's merged. It'll make resolving this task much easier.

[2015-12-30 01:55] captncraig commented on #51
Awesome. I look forward to it.
On Dec 29, 2015 6:43 PM, "Dmitri Shuralyov" <notifications@github.com>
wrote:

[2016-01-19 08:42] shurcooL commented on #51
Ok, I've merged #53. Take a look at the new `repo.Updater` interface and 2 sample implementations (one is a normal updater for your GOPATH, the other is a mock updater that just prints text to stdout):

https://gotools.org/github.com/shurcooL/Go-Package-Store/repo

The updater no longer has to manage state of repositories that have been updated. It now only has one simple responsibility, to update

[2016-01-23 08:48] rtfb opened #54 ""API rate limit exceeded" errors"
I'm getting `403 API rate limit exceeded` errors for all GH accesses after I use Go-Package-Store for a while:

[code]

Is this a glitch or is it some limitation in what GH allows? Anybody else seen this?

[2016-01-23 10:09] shurcooL commented on #54
This is very normal and expected. However, it might not be very well explained and handled, so I need to improve that.

Go Package Store currently uses a GitHub presenter that does unauthenticated API calls. They have a pretty low rate limit.

That means if you run Go Package Store with many, many updates available, you'll likely exhaust the unauthenticated rate limit quite fast.

It's usually not

[2016-01-23 11:01] slimsag commented on #54
How about asking users to generate their own auth token if they run into
it, and setting via CLi flag or environment variable ?

On Sat, Jan 23, 2016 at 3:09 AM, Dmitri Shuralyov <notifications@github.com>
wrote:

--
Follow me on twitter @slimsag <https://twitter.com/slimsag>.

[2016-01-23 11:13] shurcooL commented on #54
Yeah, I could have an env var or CLI flag (maybe less preferable because it might show up in `ps`) to set an auth token for GitHub client.

[2016-01-23 16:38] rtfb commented on #54
Thanks for explanation! I don't see any other general solution than providing an auth token. I guess the problem might be somewhat alleviated by caching the responses, but not sure if that would be worth the effort.

[2016-01-23 18:29] shurcooL commented on #54
Do you mean caching responses within one session (this is already done), or caching across multiple runs of G-P-S (this is not done and I can consider this option)?

[2016-01-23 19:23] rtfb commented on #54
Yes, I meant across multiple runs. That's exactly how I stumbled upon it, but not sure if that would be common for others (or for me outside of tinkering mode).

[2016-01-23 19:45] shurcooL commented on #54
Right. I think it's definitely worth considering doing that. That way, if you run G-P-S a second time after 5 minutes, it will be faster and not use up your unauthenticated rate limit/quota.

It will still not help for initial runs when there are many, many packages. It will also not help when you're on a public or shared IP that happens to have the unauthenticated quota used up (because other peo

[2016-01-25 08:29] shurcooL commented on #54
I've experimented with using a caching `http.RoundTripper` implementation that can be provided by a library like github.com/gregjones/httpcache with good success. That library has multiple cache backends, including in-memory and on-disk ones.

The on-disk cache is a great fit for improving this situation, and when I tried it, it worked correctly, not using up additional rate limit quota after repe

[2016-01-25 08:35] shurcooL commented on #54
For reference, here's a sample run with a disk cache and some debug logging adding.

There are two runs. The first run has no cache, so all requests are cache misses.

The second run has the cache from previous run, so all requests happen to be cache hits. Note that the Rate response is cached too, that's why it appears to be the same as in first run (the real rate limit is at 1 of 60 for the hour

[2016-01-25 08:37] shurcooL commented on #54
One potential security consideration to be aware of. If I add both on-disk cache AND a way to provide a secret GitHub API token, then the on-disk cache will contain sensitive information (the secret token).

Therefore, we should either not use cache when authentication is provided, or store the cache in a secure location so other users can't access it.

[2016-01-25 20:56] rtfb commented on #54
That sounds like good news.

The locations for cache might be the ones you mentioned on Win and OSX, plus `~/.Go-Package-Store/` on Linux. I'm not sure how robust these choices would be, but it seems a decent start.

The only bit I'm unsure of is the `%appdata%`, I checked on a Windows-7 box today and it resolved to `C:\Users\<user>\AppData\Roaming\`, while I would expect `...\Local\`. But that mi

[2016-01-25 21:09] shurcooL commented on #54
Perhaps it should be `%LOCALAPPDATA%` then.

[2016-02-08 07:42] rtfb commented on #54
I happened to need the same kind of location for one of my projects, so I wrote down what we discussed here. Feel free to use if you find it helpful: https://github.com/rtfb/cachedir/blob/master/cachedir.go

No docs yet, but I've tested it on Linux, OSX and Windows. Assumed all flavours of BSD and Solaris behave same as Linux.

[2016-02-11 05:49] shurcooL commented on #54
Thanks @rtfb, that will come in handy.

I'm working on a few things that will significantly improve the situation here.

### First Phase

Better display of errors in the web UI (and not in terminal). It currently looks something like this:

![image](https://cloud.githubusercontent.com/assets/1924134/12970156/e798b3b6-d03f-11e5-8141-f57320a4d376.png)

### Second Phase

Use an application data direc

[2016-02-11 09:29] shurcooL commented on #54
First phase is mostly complete in #56, but waiting on an external PR to be merged.

[2016-02-15 08:40] shurcooL commented on #54
@rtfb, I've created a similar package for Go Package Store's current needs, see [`ospath`](https://gotools.org/github.com/shurcooL/go/ospath). I've opted to start with OS X support only for now, since I can test it well. I plan to expand coverage of other OSes later, with careful testing.

Go Package Store will only use the cache dir if it's acquired successfully, otherwise it will fall back to cu

[2016-02-21 07:44] shurcooL commented on #34
Oooh, I have a great idea!

I could do the following. When updating repos that contain commands (Go packages with name "main"), I can check if such a binary exists in $GOPATH/bin already. If so, I can `go install` that command.

That way, it would update existing binaries in `$GOPATH/bin` but not install new, unwanted ones.

The only downside is that it's possible to mistakenly overwrite the wrong

[2016-02-22 04:00] #54 closed

[2016-02-22 04:01] shurcooL commented on #54
I've added support for providing a GitHub auth token in ee9b46d (it doesn't need any scopes, it's only used to be authenticated and receive a higher API rate limit). That's phase 3, and it should resolve this issue completely.

[2016-02-22 04:06] shurcooL commented on #45
@GeneticGenesis, can you confirm if this is still an issue?

I'm doing a very simple thing to update the repositories, and it should be identical to what the Go tool does. See here:

https://github.com/shurcooL/Go-Package-Store/blob/ee9b46d7d17c2ab649bdccdb47e79bfdba479f81/repo/gopath.go#L15

[2016-02-22 04:08] shurcooL commented on #47
@abourget, supports reading from `Godeps.json` and `govendor.json` files via `-godeps` and `-govendor` flags respectively.

[code]

So it can support /vendor/ directory indirectly if you're using one of those 2 tools to manage your dependencies. Does that satisfy your needs?

[2016-02-22 07:40] rtfb commented on #54
Thanks, @shurcooL!

[2016-03-08 14:01] klauern opened #57 "GO_PACKAGE_STORE_GITHUB_TOKEN doesn't work with Win7"
It mentioned that you could use the environment variable `GO_PACKAGE_STORE_GITHUB_TOKEN` to authenticate your calls.  However, that doesn't work in Windows.

I think this is related to this error:

[code]

Does this environment variable require CacheDir to work?

[2016-03-08 19:53] shurcooL commented on #57
Yeah, you're absolutely right, the `GO_PACKAGE_STORE_GITHUB_TOKEN` env var only works together with CacheDir, and that was an oversight and unintended!

It's because it checks that env var inside the block when CacheDir is supported:

https://github.com/shurcooL/Go-Package-Store/blob/7516406a51a34138ec20c6bf632fb479509da62c/main.go#L238-L243

Thanks for reporting this problem, I will fix it tonigh

[2016-03-08 20:49] klauern commented on #57
That's great news. I took a look at it and wasn't sure if it was a big change or not.

[2016-03-09 09:46] #57 closed

[2016-03-09 13:53] klauern commented on #57
This is excellent.  Thank you for such a quick turnaround.  Things seem to be working great on my end.

[2016-03-10 04:28] mholt commented on #8
+1 to delete repos (especially unused ones)

[2016-03-10 04:36] shurcooL commented on #8
On the topic of deleting "unused" repos (well, let's say finding them; deleting is orthogonal). I've been thinking about it, and realized the following.

In order to determine what Go packages (or repos) are unused, you need to provide, as input, all the packages you care about being able to build (and possibly what additional build tags or OS/arch combinations you want to be able to build under),

[2016-03-12 04:13] shurcooL commented on #51
I've done this today, going to push an update soon. Only `govendor` support for now. It will update packages with:

[code]

It seemed to work well. If you have a chance to try it, let me know how it goes.

If someone wants the same functionality for `godep`, it's really easy to add. I won't do it now since I don't use `godep` at this time.

[2016-03-12 04:27] #51 closed

[2016-03-12 04:30] shurcooL commented on #47
As I mentioned above, this is largely done. You can even update dependencies when using -govendor flag as of https://github.com/shurcooL/Go-Package-Store/issues/51#issuecomment-195656608.

I'll mark this issue as resolved, but please let me know if not.

[2016-03-12 04:30] #47 closed

[2016-03-12 04:31] shurcooL commented on #45
I think this was an issue with the local setup, and it would've given same error if doing `go get -u`. I'll close it because there's no issue in Go Package Store to fix. Please reopen otherwise.

[2016-03-12 04:31] #45 closed

[2016-04-04 19:34] siebenmann opened #58 "Feature request: a verbose mode that also shows why repos aren't available for updates"
I'll start with my motivating story. One day, I somehow wound up with `$GIT_WORK_TREE` accidentally set in my shell environment when I ran Go-Package-Store. In this state, G-P-S reported that no packages had updates, although a `gostatus all` in another window showed that they did. Diagnosing this wound up being fiendishly difficult, and eventually I discovered that G-P-S was silently rejecting re

[2016-04-04 21:12] shurcooL commented on #58
Hi, thanks for reporting this.

This is a very valid request, and I'll think about resolving this.

I've known about this for some time, and I agree the current situation of GPS silently ignoring repos with unclean status (without notifying the user in any way) is not optimal.

`gostatus all` is a great tool to diagnose and resolve issues, but GPS could at least display packages that have updates

[2016-04-04 21:13] shurcooL commented on #58
To clarify, did it think there uncommitted changes because there were actually uncommitted changes, or was it falsely detecting that, and it wasn't the case?

[2016-04-04 21:18] siebenmann commented on #58
Based on `git status --porcelain` output, Go-Package-Store correctly thought that everything had uncommitted changes because that's what got reported to it. This was ultimately because I had `$GIT_WORK_TREE` set, so `git status` was comparing each repo against a completely unrelated work tree and of course basically reporting 'tons of stuff is gone, tons of stuff is new, and oh there's some overla

[2016-04-04 21:27] shurcooL commented on #58
I see, thanks for the heads up. I'll think if there's any way to prevent such false-positives in the future. But ultimately, GPS relies the git command in the environment, so it will be susceptible to misconfiguration like that (and git has so many flags and env vars...).

[2016-05-22 09:54] shurcooL commented on #58
An update here. As of c74ea9fc72b6623ec68a86789d23bb8ee4df9d8b, GPS prints a little more to stderr when some repositories are skipped. It doesn't resolve this issue completely, but it helps.

[2016-06-26 01:11] shurcooL opened #59 "Add Gitiles presenter."
This would be a good first contribution for anyone interested.

Currently, Go packages hosted by [Gitiles](https://code.google.com/p/gitiles/) have no presenter:

![image](https://cloud.githubusercontent.com/assets/1924134/16360015/b03a3f68-3aff-11e6-92d0-9686e011bec2.png)

That package is hosted at https://code.googlesource.com/gocloud.

According to some Gitiles API docs I found at https://code.

[2016-07-01 04:20] shurcooL commented on #59
I have a working implementation of this.

![image](https://cloud.githubusercontent.com/assets/1924134/16511726/1d4ec00e-3f08-11e6-89e9-9f885d90034e.png)

The `google.golang.org/cloud` and `google.golang.org/api` repos are coming from [Gitiles](https://code.google.com/p/gitiles/) remote (i.e., https://code.googlesource.com/google-api-go-client and https://code.googlesource.com/gocloud).

[2016-07-01 07:11] #59 closed

[2016-07-06 05:54] shurcooL commented on #34
It might be possible to resolve that ambiguity by using [`debug/gosym`](https://godoc.org/debug/gosym) to extract the exact import path from binary. See https://github.com/shurcooL/binstale/issues/6 for details.

This needs to be investigated and confirmed, but it's a great lead! Thanks @FiloSottile for the original idea!

[2016-10-07 12:27] stardiviner opened #62 "git fast forward failed caused package updated skipped"
Here is the output:
[code]
This invalid fast-forward caused package update failed.

[2016-10-07 15:54] shurcooL commented on #62
Yes, this is normal. If a Go package can't be updated because its repository can't do a fast-forward git pull, then Go Package Store will print that message to stderr and not actually update the package successfully.

It behaves just like `go get` does.

When this happens, you'll need to carefully resolve the problem yourself and return the repo to a state where it can be fast-forwarded. Either do

[2016-10-08 00:27] stardiviner commented on #62
I see, thanks.

[2016-10-08 00:27] #62 closed

[2017-01-07 12:23] mvdan opened #63 "UI elements moving across the screen considered harmful"
When I click on "update", the repo item moves to a separate section. This has two inconvenients:

* It is racy. If I click these buttons faster than they can sync (i.e. multiple running at a time), sometimes they don't move properly and stay in the "to update" section.
* It makes reading worse. I can't read commits properly if text is jumping up and down (e.g. if I click "update" on the first and

[2017-01-10 09:38] mvdan opened #64 "Silently ignores updates if the tree is dirty"
If there are unstaged changes, git may refuse to pull changes from the remote. This is expected and natural.

However, (presumably) due to this, Go-Package-Store has kept my `x/tools` repo at the state of mid-November. I made a slight change to `cmd/stringer` back then and left it unstaged. I just ran a `git pull` manually after cleaning it up and indeed I'm back on the real master.

I suggest tha

[2017-01-10 16:45] shurcooL commented on #64
Valid issue, but duplicate of #58. I'll link it there.

[2017-01-10 16:45] #64 closed

[2017-01-10 16:53] shurcooL commented on #58
@mvdan also ran into this #64.

I just realized that the stderr skip messages are only printed for remote errors. But nothing gets printed for repositories that are skipped for non-error reasons:

https://github.com/shurcooL/Go-Package-Store/blob/093c972f255677f0d6219bd37fd69ab436ee864a/workspace/workspace.go#L532-L534

I'll work on resolving that.

[2017-01-10 18:13] shurcooL commented on #58
@mvdan, I've pushed f6af2f4dc69dcf3910896db42ba037e0387ffdfe, which should help the issue. Just be sure to check stderr output for repositories that are skipped.

Keeping this issue open to track displaying those things visually in the frontend, rather than in stderr.

[2017-01-11 11:06] dmitris opened #65 "https://github.com and git@github.com equivalence"
I'm seeing lots of messages like:

skipping "github.com/prometheus/prometheus" because:
	remote URL (git@github.com:prometheus/prometheus.git) doesn't match repo URL inferred from import path (https://github.com/prometheus/prometheus)

Would it be possible for the tool to realize that they are equivalent and follow the origin git@github.com:prometheus/prometheus.git?  The `go` tool seems to be abl

[2017-01-11 20:24] shurcooL commented on #65
This issue is subtle. Let me explain what's going on.

The **actual** reason GPS currently prints that error is not because of the difference in scheme (git@github.com:... vs https://github.com/...). It correctly compares different schemes and considers them equivalent via [`status.EqualRepoURLs`](https://godoc.org/github.com/shurcooL/gostatus/status#EqualRepoURLs).

The reason it says they're dif

[2017-01-11 21:17] shurcooL commented on #65
This is sad, but `go get -u` will just do `git pull --ff-only` and it doesn't care what remote URL is. It'll happily pull from something other than what the user would get if they did `git get -u import/path` in an empty GOPATH.

[2017-01-11 22:26] shurcooL commented on #65
I've resolved shurcooL/gostatus#39 and applied the fix to Go Package Store in 12c0a37f04d98796fc7242baa7e13cc77ce453ea.

Hopefully that helps.

[2017-01-11 23:23] shurcooL commented on #65
I consider 12c0a37f04d98796fc7242baa7e13cc77ce453ea to have resolved this issue. I will look into `go get -u` behavior separately (I think it has room for improvement).

Closing, let me know if you have any further comments.

[2017-01-11 23:23] #65 closed

[2017-01-12 09:32] mvdan commented on #58
Confirming this fixes it, found another repo in the same state as the one I mentioned:

[code]

[2017-01-12 09:34] mvdan opened #66 "Don't use a popup if the program is stopped"
I would say a big red warning at the top of the web page would be better. Perhaps disabling all the buttons too, since they would not do anything.

A popup bothers me because it makes my browser jump and I lose what tab I was in. I understand that this tab is now dead and should be closed, but I don't see the urgency and need to do a popup.

[2017-01-12 20:10] shurcooL commented on #66
Agreed.

I've wanted this too (not that strongly, but a bit). It's just a matter of doing it.

This will be easier to do once/if the frontend is made more dynamic (i.e., once there are multiple tabs and the ability to seamlessly switch between them), but it can be done anytime.

[2017-01-14 03:56] shurcooL commented on #63
I agree it feels not great. I'll just share some notes.

I tend to try to update packages from bottom, going up. That way things don't move around.

GPS Updates tab is heavily inspired by Apple's App Store on macOS. Its design suffers from the same issue, however, it's less noticeable for a few reasons. There are generally fewer updates for macOS apps than there are for Go packages. They tend to b

[2017-01-14 04:03] shurcooL commented on #63
One really interesting idea in this space IMO is how Chrome tackles this problem.

See the following video:

[![image](https://cloud.githubusercontent.com/assets/1924134/21952234/885224d2-d9e4-11e6-9ce5-e6277184ebd6.png)](http://instantshare.virtivia.com:27080/jmit6cdjjj80.mov)

Basically, they try to avoid moving things unexpectedly as long as your mouse cursor is hoving over the tabs. As soon as

[2017-02-09 23:20] shurcooL opened #67 "Become a single-page application, render HTML on frontend."
Currently, the Go Package Store app consists of a single piece of functionality displayed on a single page. It finds and presents available updates to Go packages.

It's implemented by rendering the HTML entirely on backend and streaming it to the browser.

This is very simple, pragmatic, and has worked really well for the purposes of GPS so far. There are some minor downsides, like the inability

[2017-02-09 23:26] shurcooL opened #69 "Stop using deprecated octicons icon font, switch to SVG."
Package [`github.com/shurcooL/octicons`](https://godoc.org/github.com/shurcooL/octicons) is deprecated in favor of SVG octicons. I should update code to stop using it.

[2017-02-10 00:13] #69 closed

[2017-02-16 03:08] shurcooL commented on #6
Good news (after 2 years). As I'm making progress on completing #67, I'm realizing that implementing this feature will finally become very viable. Soon now!

[2017-02-16 03:51] shurcooL commented on #63
Ok, I can't believe I didn't notice it until now, but the logic for moving a completed update down was completely wrong:

https://github.com/shurcooL/Go-Package-Store/blob/15be84cf3de4d21dad4b1eb9ed370c559a24d001/cmd/Go-Package-Store/updater.go#L70-L79

Instead of taking the updated item and moving it down, it swapped that item with the bottom-most available update. So the update you'd expect to b

[2017-02-23 22:54] shurcooL commented on #6
Here's a 10-second video preview of the work in progress.

[![](https://cloud.githubusercontent.com/assets/1924134/23282827/0b2faf4c-f9f1-11e6-867e-7b973b7212e9.png)](http://instantshare.virtivia.com:27080/1hux0d5kqpoj2.mov)

[2017-02-24 02:16] shurcooL commented on #66
I'm going to resolve this issue in the next release by simply removing the current feature. The current implementation is half-baked, and below the usability standard.

After it's removed, I can consider adding a higher quality version of the notification that the backend is disconnected (without the popup).

[2017-02-24 11:05] mvdan commented on #66
@shurcooL thanks for the update - sounds like a good idea.

[2017-03-16 11:55] mvdan opened #72 "Some gopkg.in repos produce "no HEAD branch" error."
I got the following:

[code]

I went to the repo, confirmed it was on `master` tracking `origin/master`, did a `git pull` and it worked, pulling a few new commits that hadn't been fetched yet.

Also confirmed that `HEAD` exists and points to the same commit as `master`.

What could have caused that error?

Even after doing those commands and being up to date, I still get the same error. I can give

[2017-03-16 14:31] shurcooL commented on #72
Thanks for reporting this. I'll be able to look more into it after Friday.

Off the top of my head (no pun intended), I've seen similar things in the past, and I think this might be related to gopkg.in service doing a hacky edit on the git information it serves, which does not quite match what a normal repository would serve. The solution might be to try to submit a PR to gopkg.in to make it serve

[2017-03-16 14:34] shurcooL commented on #72
Ok, I can reproduce too:

[code]

It also affects `gostatus` in a similar way:

[code]

[2017-03-16 14:34] mvdan commented on #72
Yes.

`git version 2.12.0`

For completeness, this is `go version devel +d5dc490519 Thu Mar 16 02:44:16 2017 +0000 linux/amd64`.

[2017-03-16 14:35] mvdan commented on #72
I also thought `gopkg.in` could be to blame. I've had issues with it in the past, especially with repos disappearing and it returning non-git replies to requests.

[2017-03-16 14:37] mvdan commented on #67
I just realised that the frontend is written entirely in Go and that the repo has zero javascript. Hats off to you!

[2017-03-16 14:51] shurcooL commented on #72
The underlying issue is in [`github.com/shurcooL/vcsstate`](https://godoc.org/github.com/shurcooL/vcsstate) package, and it can be reproduced with:

[code]

Given that `go get -u gopkg.in/sourcemap.v1` seems to work without errors, it's more likely this is a bug in `vcsstate` rather than incorrect output from `gopkg.in`. But it's also possible `go get` behavior is too lax.

I'll look more into it

[2017-03-16 14:52] mvdan commented on #72
No hurry, just wanted to bring it up so I wouldn't forget about it :) Thanks for looking into it!

[2017-03-16 15:35] shurcooL commented on #67
Yeah! It [took almost 10 months](https://github.com/shurcooL/Go-Package-Store/pull/18#issuecomment-120696770) to get all the prerequisites complete to make it possible. Now I want to take more of an advantage of that, which is what PR #71 is all about. :)

[2017-03-21 21:09] shurcooL commented on #72
I've created https://github.com/niemeyer/gopkg/issues/54 which I believe is the root issue that needs to be resolved. Once it is, everything here should work.

I could try to add some hacky workarounds for `gopkg.in` import paths in the meantime, but I'd rather not do that.

Below are some notes for my reference.

[code]

[2017-03-26 14:15] mvdan opened #73 "Doesn't adapt to tracking remotes other than "origin""
When I work on someone else's repo to send PRs, I rename `origin` to `upstream` and re-add `origin` as my fork. `master` alwas tracks `upstream/master`, as I use feature branches for PRs. Then the result is like, for example:

[code]

Even though this setup is completely fine and works, `Go-Package-Store` insists on using `origin` instead of the remote that `master` tracks:

[code]

Is this really

[2017-03-26 21:32] bradleyfalzon commented on #73
Not to say you're holding it wrong, but I've found it easier to name my fork's remote `fork`, keeping origin as is.

[2017-03-27 09:35] mvdan commented on #73
I imagined somebody would comment on my naming convention :) I simply prefer to always have `origin` be writeable, be it my own original repo or my fork of another repo.

[2017-03-27 19:53] shurcooL commented on #73
Thanks for reporting this @mvdan!

I think this is pretty subtle, but I believe it's possible to improve this.

Before I go into more details in my next post, let me just ask the following question:

Does `go get -u` work with that setup to update the Go package?

[2017-03-27 19:57] shurcooL commented on #73
Let me go over the details of what's going on.

I certainly cannot check what remote `master` branch tracks, because there is no guarantee that `master` is the default branch for the repository. `go get` now supports arbitrary default branches.

I think that in the past, this led me to believe that I have no choice but to make an assumption about the name of the remote, namely, to assume it must b

[2017-03-27 20:00] shurcooL commented on #73
Yep. To add my 2 cents, my current strategy is similar to @bradleyfalzon's, but with a tweak. It is to always keep `origin` for the actual upstream repository that corresponds to the import path. But for forks, I use the github username of the fork as the remote name. So my forks are `shurcooL`, someone else's are their username. This way, I can have multiple fork remotes added at once without con

[2017-03-27 20:14] mvdan commented on #73
Checking the remote of the local branch (`HEAD`) sounds like the thing to do.

[2017-03-27 20:19] shurcooL commented on #73
That does mean if you have a non-default branch checked out, then it's not possible to reliably tell whether the remote URL matches what's expected from import path.

That's mostly fine, because we don't show updates for Go packages that have non-default branches checked out anyway.

[2017-04-07 09:28] mvdan commented on #72
Now it also throws `local revision is empty` sometimes:

[code]

[2017-04-08 17:11] shurcooL commented on #72
That's unexpected. Was it a one-off thing, or does it happen reproducibly?

What does `gostatus -v 'gopkg.in/src-d/go-git.v4'` print for you, if you have the latest version of `gostatus` (and its dependencies)?

[2017-04-11 10:54] mvdan commented on #72
Apologies for the late reply.

Ran again today, the same output.

[code]

Note that the branch is `v4...upstream/v4` as it should be. And the remotes are `upstream` and `origin` as explained above.

[2017-04-11 10:54] mvdan commented on #72
Also, running the latest version of your programs and its deps (unless `Go-Package-Store` isn't working properly, ha!)

[2017-04-11 18:07] shurcooL opened #74 "Confusing "local revision is empty" skip reason in some situations."
Originally reported by @mvdan in https://github.com/shurcooL/Go-Package-Store/issues/72#issuecomment-292488220; forking into a new issue because it's not related to #72:

[2017-04-11 18:10] mvdan commented on #74
Thanks for looking into this. If you need more info or want me to do a tarball of the git clone for you, let me know.

[2017-04-11 18:12] shurcooL commented on #74
I was able to reproduce the `gopkg.in/src-d/go-git.v4` issue. I investigated it and figured out what's going on.

This behavior is expected, and it happens because of #73. However, I might want to do a better job of printing the cause, and improve some internal documentation. I'll use this issue to track resolving that.

What happens, at a high level, is that it incorrectly determines the default

[2017-04-11 18:13] mvdan commented on #74
Great, thanks for the explanation :)

[2017-04-11 18:14] shurcooL commented on #74
For (my) reference, what happens at a lower level was:

[code]

Output:

[code]

[2017-04-11 19:25] shurcooL commented on #73
I've recreated the setup that reproduces the issue. I can now answer that question.

`go get -u` does not update the package. It prints an error message and exits with non-zero exit code:

[code]

@mvdan, were you aware of that? Is that expected, or did I make a mistake when trying to reproduce this?

[2017-04-11 19:36] shurcooL commented on #73
Using `-f` flag allows it to update successfully:

[code]

[2017-04-11 19:47] shurcooL commented on #73
Yeah, so the current implementation of `go get` expects the repository remote to be named `origin`, and not anything else.

See the [implementation of `gitRemoteRepo`](https://github.com/golang/go/blob/9417c022c6d7e6457fd6de89f92bb9c52a04819b/src/cmd/go/internal/get/vcs.go#L176):

[code]

I'm afraid I won't be able to implement this enhancement in Go Package Store, since I don't want to deviate fr

[2017-04-11 19:47] #73 closed

[2017-04-11 19:51] mvdan commented on #73
Makes sense, thanks. This is unfortunate, as I've grown quite used to my pattern :(

I might open a proposal about this (detecting remotes other than origin, falling back to origin) in the Go issue tracker, but like you I suspect that it will be declined. I'll make sure to CC you, if I do open it.

[2017-04-11 20:06] shurcooL commented on #74
After the recent investigation and decision in #73, I think this error can be improved even more:

### Previously (before #75)

[code]

### Currently (after #75)

[code]

### Proposed

[code]

Basically, it makes more sense to point out the highest level problem first. They are, in order:

1. the entire remote is wrong (this will affect things like default branch)
2. the locally checked out branch

[2017-04-11 21:07] #74 closed

[2017-04-13 19:56] #6 closed

[2017-04-13 19:56] #66 closed

[2017-04-13 19:56] #67 closed

[2017-04-18 10:32] mvdan opened #78 "Now reports differences on extra .git in the remote URL"
I now see a bunch of these for my own repos:

[code]

Likely related to recent changes in reporting differing branches and remotes. These clones haven't changed in months, and I wasn't seeing these when reporting the previous issues a couple of weeks ago.

[2017-04-18 17:58] shurcooL commented on #78
It looks like this is working as intended. It's detecting that there's a mismatch in the remote URL. Does `gostatus` show the same messages for those repos?

Are you okay with updating the remote URLs to not have the extra ".git" suffix in remote URL?

[2017-04-18 18:01] mvdan commented on #78
Yes.

It is unnecessary, but it's also irrelevant. GitHub adds it by default, which is why I have it in all of these.

In that sense, I don't think it should be on me to fix. A lot of users will come across this confusion. I seem to remember an issue where you said "/foo.git and /foo aren't the same URLs" but I don't remember the details.

In any case, they are the same if on GitHub.

[2017-04-18 18:20] shurcooL commented on #78
Unfortunately, I think that's true. All right, I'll keep this open and think about it.

Yes, that was https://github.com/shurcooL/gostatus/issues/37#issuecomment-225336823. It contains my rationale for why I don't want to support this.

[2017-04-18 18:26] mvdan commented on #78
Thanks - will re-read the discussion there and share my refined thoughts.

I'm still confused by how this is the first time I've seen these warnings on GPS. When I was reporting the other issues a couple of weeks ago, running GPS only yielded 3-4 warnings. Now it's more than a dozen, since all of the repos I have push access to are included because of this `.git` conflict.

[2017-04-18 18:33] shurcooL commented on #78
I'm puzzled by that too. I did change the logic of `shouldPresentUpdate` recently, where this check is performed. But all I did was re-arrange the order of checks.

I'm pretty sure the remote URL check was there since long ago, so I don't know why you weren't seeing these messages earlier. Perhaps there was a bug and it wasn't working as expected.

[2017-04-20 17:00] mvdan commented on #78
I've shared some quick thoughts on your golang/go issue above.

I know you've talked about always ignoring `.git` before (https://github.com/shurcooL/gostatus/issues/37#issuecomment-225336823). But I still think it would be better to do it.

If the `go` tool supports both, and many people like me mix `foo` and `foo.git`, I see a clear benefit there.

If I understand things correctly, `go get -u` i

[2017-04-20 19:25] shurcooL commented on #78
This is the perfect place to do that. Let me reply to your arguments.

To clarify, when this feature was originally added to Go in 1.4, it did not support both. See shurcooL/gostatus#24 for full details of when this feature was ported over from `cmd/go` into `gostatus`. It never had a special case for ignoring ".git" suffix. Instead, in [CL 10693](https://go-review.googlesource.com/c/10693/6/src/c

[2017-04-21 09:40] mvdan commented on #78
From my point of view (user) this solution is unfortunate, but I understand the same applies to ignoring `.git` from the point of view of the tools. In any case, having the tool fix it for me automatically (with the click of a button) would indeed be better than me having to do it one by one, and would probably keep bugs away in your tracker.

Just to understand, if your proposed changes in golang

[2017-04-21 21:23] bits01 commented on #72
Also seeing the same issue:

[code]

[2017-04-21 21:59] shurcooL commented on #72
@bits01, this issue is about gopkg.in repos only (I've renamed it to better reflect that). What you're seeing is not gopkg.in, so it might be a real issue. Can you open a new issue and provide more information on how I can reproduce it?

[2017-04-21 22:14] bits01 opened #79 "HEAD branch not found in ls-remote output"
See attached [vendor.json](https://github.com/shurcooL/Go-Package-Store/files/948428/vendor.txt) file (using `govendor` for vendoring).

[code]

[2017-04-21 22:15] bits01 commented on #72
@shurcooL issue #79 thank you for looking into it.

[2017-04-21 22:20] shurcooL commented on #79
Thanks, I can reproduce. Will investigate.

[2017-04-21 22:39] shurcooL commented on #79
Yeah, this is definitely fixable on my part. Thanks for the bug report.

[2017-04-21 23:10] bits01 commented on #79
Thanks, look forward to the fix. Very useful tool to get a sense of any available updates for vendored packages and a list of changes.

[2017-04-22 04:33] #79 closed

[2017-04-22 04:35] shurcooL commented on #79
This has been fixed via https://github.com/shurcooL/vcsstate/commit/0087ee72f10e9197a573c237b0a41faface2b648.

If you @bits01 install latest Go Package Store (the usual way, `go get -u github.com/shurcooL/Go-Package-Store/cmd/Go-Package-Store`), you should not get those errors anymore.

Let me know if anything else comes up.

[2017-04-22 05:47] bits01 commented on #79
Thank you! It works.

[2017-05-02 03:44] shurcooL commented on #78
I am finding it surprising that you still think that would be suboptimal for users, even after all the arguments presented here.

I really want to do everything possible from my side to find the best solution, and to minimize the chance of a misunderstanding causing me to settle for a suboptimal solution. To that end, let me restate things as I see them, and ask you @mvdan to confirm my understand

[2017-05-02 09:16] mvdan commented on #78
Perhaps my wording was a bit too extreme. I do agree with you, and I do think this solution is the correct one.

What I meant by "unfortunate" is that for a user that doesn't have the full picture, this solution might sound unnecessarily complex compared to "just ignoring `.git`". But as you explained, that solution is not as simple and consistent as it may initially seem.

If the text that GPS gi

[2017-05-03 03:57] shurcooL commented on #78
Thanks for explaining, I see what you mean.

I personally don't mind dealing with some reports and redirecting people to a solution. I care much more about the Go project remaining opinionated and simple, about making the better long term decisions, and not begin to cater to the least common denominator. It already has a history of being strict about things (tabs vs spaces, consistent case of acro

[2017-05-04 08:43] mvdan commented on #78
Well, the chances are greater if you go with your solution rather than my initial one :)

[2017-06-26 16:24] mvdan opened #80 "Wrongly reports local revisions are ahead of remote revisions."
I just got:

[code]

Looked at `bat`, sure enough, `cba...` is older than `30a...` as per https://github.com/astaxie/bat/commits/master.

What's wrong here? I went into the clone and was able to `git pull` into the new version. Haven't touched the rest yet.

[2017-06-26 16:24] mvdan commented on #80
Also, if at all useful:

[code]

[2017-06-26 17:01] shurcooL commented on #80
Thanks for reporting. I highly suspect this is a bug in a recent change I did to detect when branches have diverged in f0f8894a76cd8c20b23d054f167e82226907d138.

To confirm, which version of Go Package Store do you have installed?

[2017-06-26 17:02] mvdan commented on #80
The latest, f0f8894a76cd8c20b23d054f167e82226907d138 in particular.

[2017-06-26 17:04] shurcooL commented on #80
I also highly suspect the issue is that I'm not running `git remote update` (or equivalent) before I call `repo.VCS.RemoteContains`.

Can you try to manually run `git remote update` in one of the repos where you're getting this message incorrectly, and see if that fixes it?

[2017-06-26 17:07] mvdan commented on #80
I just tried it with `golang.org/x/sys`, still get the same (different SHAs because it was just pushed to, but same error).

[2017-06-26 17:10] shurcooL commented on #80
Thanks. I'll try to reproduce it and work on a fix.

[2017-06-26 22:03] shurcooL commented on #80
Not really able to reproduce this as easily as I thought.

Can you `cd $GOPATH/src/golang.org/x/sys` and tell me the output of running this command there:

[code]

[2017-06-26 22:05] mvdan commented on #80
Assuming my $GOPATH is a single dir ;)

[code]

[2017-06-26 22:22] shurcooL commented on #80
Thanks a lot, that's very helpful and I can see where the issue is right away (hint, it's [here](https://github.com/shurcooL/vcsstate/blob/4a1c1cc2526e60097c9ecd36600ba93c372e6e7f/git28.go#L113-L114)).

It looks like a behavior present in your newer `git` version. I'll look for the best solution, and push a fix.

[2017-06-26 22:24] mvdan commented on #80
A better solution here would probably be to use a porcelain command, i.e. one of those whose output is to be consumed by other programs and whose format won't change between git versions. I don't know what the equivalent here would be, though.

[2017-06-26 22:34] shurcooL commented on #80
I know, I always try to use those (low-level/plumbing) types of commands when possible, but I didn't find one so far, so I had to make do. If/when I find a viable replacement, I'll gladly switch to it.

[2017-06-27 00:48] shurcooL commented on #80
I think I found a way to use [`git for-each-ref`](https://www.kernel.org/pub/software/scm/git/docs/git-for-each-ref.html) command, which is low-level plumbing command. 🎉

Can you give https://github.com/shurcooL/vcsstate/commit/c25c0063e031c190b79aafc34aa9d06e311ba106 a shot and see if it fixes the issue for you? I believe it should work.

[2017-06-29 05:26] djadala commented on #80
Hi,
I try  shurcooL/vcsstate@8573312, but it does not work, same result as before,
debian jessie,
git version 2.1.4,
I switched to branch contains-for-each-ref, deleted vcsstate.a and Go-Package-Store,
then rebuild Go-Package-Store, and results are same:
[code]

[2017-06-29 05:32] shurcooL commented on #80
Interesting. @djadala, what's the output if you run this command in your x/crypto repo?

[code]

[2017-06-29 07:49] djadala commented on #80
Hi, may be debian(oldstable) git is too old ?
[code]

[2017-06-29 07:52] djadala commented on #80
[code]

[2017-06-29 13:37] shurcooL commented on #80
Oh, my bad, I misread your git version. That means `git17` implementation [will be used](https://github.com/shurcooL/vcsstate/blob/4a1c1cc2526e60097c9ecd36600ba93c372e6e7f/vcsstate.go#L87-L88) instead of `git28`. It should still be okay, but can you run this other command instead please:

[code]

What does that print?

[2017-06-29 14:01] mvdan commented on #80
@shurcooL apologies for the late reply. Yes, that commit seems to fix it for me :)

[2017-06-29 14:21] djadala commented on #80
[code]

[2017-06-29 14:26] djadala commented on #80
just for safety:
[code]
I have 3 places in GOPATH

[2017-06-29 14:54] shurcooL commented on #80
Thanks @djadala, that should be sufficient information for me to fix it for you. I'll let you know if it turns out I need more.

[2017-06-30 17:44] shurcooL commented on #80
@djadala, I was able to setup an equivalent environment and reproduce your issue:

[code]

I've looked around and tried different things, and there was only one viable fix that I could find.

I've pushed a new commit shurcooL/vcsstate@54e5467a36c1fcce74eaee022aa897254e23774d to the same branch [`contains-for-each-ref`](https://github.com/shurcooL/vcsstate/commits/contains-for-each-ref). It should

[2017-06-30 19:19] djadala commented on #80
if you want for me to confirm - ok, i try tomorrow,  but if you are sure how to fix this, go just now.
if issue is that debian git is to old, im are ok to upgrade - FYI debian have git 2.11 in backports-oldstable.

[2017-07-01 00:28] shurcooL commented on #80
You git version is old but it should be fine. `vcsstate` supports git 1.7 and newer.

I'm pretty confident in the fix, so I'll push it now. If you still have any issues after updating to the latest version, please don't hesitate to open a new issue!

[2017-07-01 00:33] #80 closed

[2017-08-02 20:33] bits01 opened #81 "Support dep"
Just like it has an option for govendor and godeps, it should also support [dep](https://github.com/golang/dep) which is now considered production ready.
Thank you.

[2017-08-03 05:15] shurcooL commented on #81
This is a reasonable feature request. Thanks. /cc @sdboyer FYI.

I'll look into implementing support for `dep`.

@bits01, do you have an example repository that uses `dep` that I could use to test the functionality? Actually, never mind, I think I'll be able to use @bradleyfalzon's `gopherci` project (after https://github.com/bradleyfalzon/gopherci/pull/102).

[2017-08-03 06:02] bradleyfalzon commented on #81
Nice! Also https://github.com/bradleyfalzon/graphql-mergeable commits the vendor folder if you needed that case.

[2017-08-04 03:44] sdboyer commented on #81
ahh, yes! this was one of the many conversations i never quite got to finishing at gophercon 😄

i'm gonna cc @darkowlzz here, maintainer of `dep status`. while there are likely a number of possible ways to attack this problem, at least one should be through the information `dep status` ought to provide. that's something we're just getting around to working on now.

the other obvious option is for

[2017-08-04 05:58] shurcooL commented on #81
Thanks for the relevant information @sdboyer!

My initial thoughts/plan for which updates to show is those that are within current Gopkg.toml constraints.

That seems like a good, easy, and useful first milestone to hit.

[2017-08-04 11:50] sdboyer commented on #81
cool, i definitely agree this is simplest (for the user), and therefore the place to start.

[2017-08-12 20:32] shurcooL commented on #34
This is a feature I'd like to implement someday, and I'm using this issue to track the progress towards that. It's not done yet. I'd like to keep it open until it's done, if that's okay with you @Netherdrake.

[2017-08-19 01:29] shurcooL commented on #78
I wanted to share one extremely minor point in favor of GitHub remote URLs without .git suffix being fine that I ran into.

![screen shot 2017-05-06 at 12 06 01 am](https://user-images.githubusercontent.com/1924134/29482260-37926bc4-845c-11e7-9c82-141b57d98efb.png)

Note the URL does not have a .git suffix, and the "ProTip" at the bottom says you can use the current page URL (without .git suffix)

[2017-08-21 19:52] shurcooL commented on #81
Made some progress on this, here's what it's looking like.

I've implemented a naive version as a starting point. It loads the Gopkg.lock file and uses that as initial dependency versions. Implementing [`gps.Updater`](https://godoc.org/github.com/shurcooL/Go-Package-Store#Updater) interface is quite trivial by deferring to the following command:

[code]

However, I've realized I will need to make

[2017-08-21 19:59] shurcooL commented on #81
As an observation, in the future more advanced versions of this feature, it would be useful for Go Package Store users to be able to see both the updates that are available to them within the `Gopkg.toml` constraints, and those that are available if the constraints are loosened.

So a future implementation might want to implement constraint checking locally.

After looking more at `dep` source cod

[2017-08-21 20:30] bits01 commented on #81
Thanks for making progress on this!
I agree that it is useful to be able to see what's available subject to the `dep` constraints but also without any `dep` constraints.

[2017-08-21 22:54] shurcooL commented on #81
That is going to be left out as a future feature. For now, Go Package Store will only display updates within Gopkg.toml constraints. You can always temporarily modify your Gopkg.toml to lift any constraints and run Go Package Store to see unconstrained updates.

I will need to think about frontend and presentation changes to accommodate that additional information (and actions) well.

Created PR #

[2017-08-22 00:30] bradleyfalzon opened #83 "Google Analytics URL's procotol should be HTTPS (or relative)"
I use `Go-Package-Store` behind a HTTPS reverse proxy, so connects via HTTPS, but the updates page loads Google Analytics javascript via HTTP.

https://github.com/shurcooL/Go-Package-Store/blob/b83b9aa8766697f6897f2d3e5d25aa292a893410/cmd/Go-Package-Store/index.go#L20

I think that the URL should be `https://www.google-analytics.com/analytics.js`, as there's little reason why you wouldn't want thi

[2017-08-22 00:36] bradleyfalzon commented on #83
Having said this, I don't mind the GA is broken, is there any reason you want it to be running on my instance?

[2017-08-22 00:43] shurcooL commented on #83
Thanks, I'll look into it. Omitting schema from the URL is likely a good solution.

The motivation was explained in commit message of e294f927573ab24be168ea7733997bae61900dc9.

That said, I'm open to consider removing it if it improves the user experience. But the downside is that I might end up investing less time/effort in GPS if I don't know how often it's used, so the user experience might end

[2017-08-22 00:53] bradleyfalzon commented on #83
It's more that it wasn't expected, it's tracking my usage of the software without me knowing - this is normal for websites, but I wouldn't have considered the same for software I run locally. I trust you, and have no problems in this.

Perhaps noting this behaviour in the README, along with a flag to opt-out?

[2017-08-22 01:51] bradleyfalzon commented on #81
I've tried it successfully on `bradleyfalzon/addgeoip/Gopkg.toml`, `bradleyfalzon/maintainer.me/Gopkg.toml` and `bradleyfalzon/graphql-mergeable/Gopkg.toml`.

Behaved as expected.

[2017-08-22 02:14] shurcooL commented on #83
Sounds good, we'll limit the scope of this issue to getting the URL scheme resolved. Removing or dealing with GA altogether can be discussed in a separate issue.

[2017-08-22 02:25] #83 closed

[2017-08-22 17:59] #81 closed

[2017-09-08 15:12] hgfischer opened #85 "Document GO_PACKAGE_STORE_GITHUB_TOKEN env var to provide a GitHub token (for higher rate limit, private repos)."
Hello @shurcooL

I have a `github.token` set in my `~/.gitconfig` that works fine with https://github.com/tcnksm/ghr for example, but I could not find a way to do this with Go-Package-Store.

I also have some private git repositories that Go-Package-Store cannot scan.

[2017-09-09 03:52] shurcooL commented on #85
Hi @hgfischer,

Thanks for asking. It's possible to provide a GitHub token for Go Package Store to use by setting the `GO_PACKAGE_STORE_GITHUB_TOKEN` environment variable. (You can see it in code [here](https://github.com/shurcooL/Go-Package-Store/blob/27ace723c70ca27f52987507270f77d8f21d3e6a/cmd/Go-Package-Store/main.go#L126).)

It tells you that in the error message if you happen to exceed the u

[2017-09-17 23:35] shurcooL commented on #78
Can you elaborate on what you think would be a more appropriate error?

Currently, it's:

[code]

Are you suggesting there should be a special case for github repos, such that if the difference in URL is a ".git" suffix, it the error message should say something different? What should it say?

[2017-09-17 23:38] mvdan commented on #78
Don't know if you would prefer replacing or extending the error, but I'd go with extending, like:

[code]

[2017-09-18 16:37] hgfischer commented on #85
Thanks for the help. Yes, would be nice to have this documented.

Wouldn't it be interesting to also add support for the same configuration from `.gitconfig`?

This can easily be done with the package github.com/tcnksm/go-gitconfig which is the same ghr uses.

For example: https://github.com/tcnksm/ghr/pull/8/commits/06a0e5955248abab9650e3d014c7051627abda5b

[2017-09-19 20:28] shurcooL commented on #85
Supporting additional ways to provide the github access token, such as via `.gitconfig` is something we can consider. I plan to use this issue to track documenting `GO_PACKAGE_STORE_GITHUB_TOKEN` env var only. If you want the `.gitconfig` feature, please file that in a separate issue.

[2017-09-20 03:17] #85 closed

[2017-10-10 17:03] shurcooL opened #87 "Extract and apply rendering performance improvements from PR #86."
See #86.

[2017-12-28 17:37] luckcolors opened #89 "Feature Request: ignore repos."
Hello!

I've been using Go-Package-Store for a while and it works pretty well, the only feature it lacks for me is a way to make it ignore some repos.

Ideas on how we could do this:

- [ ] Add a .ignoreme file in any folder we want to have it ignore
- [ ] Add a env variable with a list of paths
- [ ] Add a configfile.

Let me know what you think. :)

[2017-12-29 21:22] shurcooL commented on #89
Thanks for feedback.

I'll think more about this, but in the meantime, here's an existing way you can accomplish this:

[code]

What do you think about this way? Is it sufficient, or not convenient enough?

[2018-01-04 13:29] luckcolors commented on #89
Well i frankly prefer to just run go-Package-store, it's just easier :), and let it do it's thing, again if you want i can work on a pull request if you prefer.

[2018-01-04 21:42] shurcooL commented on #89
That's understandable.

I can make the suggestion of making an alias or something. It'd be one line.

I'd prefer to keep the project orthogonal and as simple as possible. In order to add additional complexity, it should be really justified and worthwhile, and this seems like a lot of complexity for something that can be easily done externally.

Before sending a PR, I suggest discussing the design,

[2018-01-04 21:46] shurcooL commented on #89
Also, to give me a better understanding, can you please answer these questions:

1.	How many Go repositories do you have in your GOPATH workspace(s), roughly?
2.	How many do you want to ignore?
3.	Why do you want to ignore them?
4.	How often do you want to change which repos you ignore?

[2018-01-05 00:18] luckcolors commented on #89
1. Generally i use Go-Package-Store to update all of my global go path so there's quite a bunch of stuff.
2. Ones that do not have a remote ( such as personal projects).
3. Local only projects cause a lookup error on github apis (as ofc they aren't there) i would love to avoid to make requests to github for nothing. And projects wich are a binding and don't have a clean tree all the time (such for

[2018-02-13 12:09] mvdan opened #90 "component: Package doesn’t build with latest Vecty API."
[code]

This is from an up-to-date clone, after doing `go get -d` on the dependencies. I might be doing something wrong, but I think I should be able to just build this.

Note that building the main binary still works.

[2018-02-13 15:07] shurcooL commented on #90
Thanks for reporting. The package that fails it build is only used on frontend, and in normal build, it uses a pre-compiled version from `assets` package. That’s why `cmd/Go-Package-Store` works.

I haven’t updated it to the new Vecty API yet, but I will soon.

[2018-02-22 09:47] mvdan opened #91 "Request: An option to ignore private repos"
If I have a private repo in my GOPATH, chances are it's a work repository or a private/personal thing. In both cases, I'm very likely to be a contributor, so Go-Package-Store is of little use.

I understand that I can set up a GitHub token, but that's a different approach. I simply don't want the tool to check for updates on a repo if it notices it has no access to said repo.

I know this can be t

[2018-02-23 05:37] shurcooL commented on #91
The current solution is to do something like:

[code]

Or an `alias` version thereof to save on typing. This issue is very similar to #89.

I'm not sure if there's a reliable general way GPS can detect "private" repos, but I'll think about it a bit before closing.

[2018-02-23 09:42] mvdan commented on #91
Thanks for the reply!

`go list | grep` does sound like a solution, I didn't know I could feed that into GPS. However, `go list all` on my system takes about five seconds, so I don't know if that's optimal. But if GPS would otherwise do the same work anyway, I guess it's the same.

[2018-02-23 17:06] shurcooL commented on #91
It has to do roughly the same work, see [here](https://github.com/shurcooL/Go-Package-Store/blob/d8599c0f20d4589bbfc49f9bc7385555ee49ccb8/cmd/Go-Package-Store/main.go#L174-L177), but with two differences:

1. Thanks to the [parallelized and pipelined processing](https://github.com/shurcooL/Go-Package-Store/blob/d8599c0f20d4589bbfc49f9bc7385555ee49ccb8/workspace/workspace.go#L112-L130), it starts l

[2018-02-23 17:08] mvdan commented on #91
Ha, that's a good point. I never wondered why it was so slow. I tend to `go get -d` a lot of things, so yes, I have lots of crap.

[2018-02-23 19:23] shurcooL opened #92 "Consider vgo, support for modules."
Go Package Store was created for working with the current `go get -u` model with a GOPATH workspace. The vgo experiment (https://research.swtch.com/vgo) considers changing that significantly. This is both and opportunity and a potential requirement to keep Go Package Store useful.

This issue is to track information and developments in this area.

I haven't explored vgo yet aside from reading over

[2018-02-26 22:53] #90 closed

[2018-10-28 16:57] mvdan commented on #78
I'm happy with being consistent with my remote URLs now, so I'm going to close this.

[2018-10-28 16:57] #78 closed

[2018-10-28 19:07] dmitshur commented on #63
After doing this enough times, I came up with another idea that I think I'd like to try next. It's not a perfect solution (meaning it's an improvement in some ways, but worse in other ways), but it seems like a net win, and I want to try it.

The idea is to place the "Installed Updates" section on top, above all the available updates:

[code]

That way, when you press "update" going from top to bo

[2018-10-28 20:54] dmitshur commented on #63
I've pushed the code to a `recently-updated-on-top` branch and opened PR #94, for anyone who wants to try it.

[2018-10-28 21:00] mvdan commented on #63
Thanks! These days I've moved most of my software to modules, so I've stopped using this took ~weekly for now. I no longer hoard random stuff in my GOPATH, so my workflow has changed a bit.

I presume that a tool to update a module's direct dependencies (seeing what new versions are available and their changelogs/commits) could be interesting, but is less of a problem for me. Generally, updating p

[2018-11-04 00:00] dmitshur opened #95 "Add support for Dark Mode."
It can look like this:

![image](https://user-images.githubusercontent.com/1924134/47958512-f3a25c00-dfa2-11e8-9c93-4f90fe514cdf.png)

Using https://drafts.csswg.org/mediaqueries-5/#prefers-color-scheme and roughly the following CSS.

<details><summary>Dark Mode CSS</summary><br>

[code]

</details>

[2019-01-14 21:06] frederikhors opened #96 "Is this still an active project? What can we use with go modules?"
Is this still an active project?

What can we use with go modules?

[2019-01-15 03:17] dmitshur commented on #92
I plan to implement Go module support in Go Package Store during this year.

[2019-01-15 03:20] dmitshur commented on #96
Yes, I use Go Package Store weekly and actively maintain it.

Adding support for Go modules is issue #92. I plan to do it. I suggest you add a :+1: reaction there and subscribe to the issue for further updates.

[2019-01-15 03:20] #96 closed, assigned to nobody

[2019-01-15 09:13] frederikhors commented on #96
Is this just a web page or maybe can I use it also in console?

[2019-01-15 15:02] dmitshur commented on #96
Go Package Store a web app only. It uses a browser to display the available updates using HTML.

[2020-01-08 12:51] bep commented on #92
I'm not a big fan of people chiming in on issues just to say "I want this", but I was pulling the direct changes to Hugo yesterday, and even if the number of changed modules wasn't that high, do a manual inspection of the changes (finding the repo on GitHub, browse the commit log) was time-consuming... I suspect most people just close their eyes and go a `go get -u ./...`.

[2020-01-08 12:58] ligustah commented on #92
@bep I've been using https://dependabot.com/ for a while (it became free after Github acquired them). Assuming you are on Github, it's just a couple clicks to install and it will open PRs with updates to your go.mod file, including changelogs/commits from the upstream module.
Can highly recommend it for keeping your dependencies up to date (and not just Go, for that matter)

[2020-01-08 13:00] bep commented on #92
@ligustah OK, that I didn't know. Thanks, I will try.

[2020-02-02 04:00] dmitshur commented on #95
The final version, with further color adjustments, will look like this:

![image](https://user-images.githubusercontent.com/1924134/73602706-7fa88800-4546-11ea-91ae-64693223677f.png)

[2020-02-02 05:29] #95 closed

[2020-02-02 05:43] dmitshur commented on #92
By now I'm very familiar with module mode. In order to implement support for it, I need to make decisions about what updates to display.

In GOPATH mode, there was only one obvious answer: display all updates that you would get with `go get -u`, the only possible update operation.

In module mode, there are more possibilities/questions:

- display updates only to direct module requirements, or ind

[2020-02-02 06:22] dmitshur commented on #92
I've thought about this and picked some initial answers to start with.

For now, I'll do the simplest thing, which is to do what the go command does. If it's desirable to provide more flexibility, that can be done later.

For now, I'll include indirect updates by default, or make them optional via a flag. I'll try to make it show up in the UI whether or not it's an indirect dependency.

[2020-02-02 07:25] dmitshur commented on #92
Here's a rough first draft (with some version information hacked into the title):

![image](https://user-images.githubusercontent.com/1924134/73604700-fce1f600-4562-11ea-807b-ea497e45a7da.png)

It generally seems to work well, but it's pretty clear module mode will need some UI changes to better visualize the old and new version, and likely not display indirect updates by default.

[2022-03-23 10:45] #63 closed

[2022-03-23 10:49] #91 closed

[2022-07-07 12:54] #72 closed